<style>
li {
  font-size: 20px;
}
</style>


<h1 class="page-header text-center">Here is your custom dictionary!</h1> </br>
<% if @words.empty? %>
  <h3>Looks like you haven't added any words yet! <a href="/add_word">Add a word to dictionary. </a>
<% end %>
<ul>
  <% @words.each() do |word| %>
    <li><a href="/word/<%= word.id %>"> <%= word.word() %></a></li>
  <% end %>
</ul>

<% if ! @words.empty? %>
<a href="/add_word">Add a word to dictionary </a>
<% end %>
