<h1> Current word and its definitions <h1>

<h3><%= @word.word %>
  <ul>
    <li><%= @definition %></li>
  </ul>
</h3>

<h3><a href="/word/<%= @word.id() %>/add_definition">Add a definition!</a></h3>
